@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

a {
    color: rgb(0, 175, 255);
}

body {
    background-color: rgb(50, 50, 50);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.introduction {
    margin-left: 300px;
}

.coolwebsitestext {
    margin-left: 600px;
}

.addmy88x31s {
    margin-left: 595px;
    font-size: 30px;
}

.uc1 {
    margin-left: 375px;
}

.uc2 {
    margin-left: 370px;
}

.uc3 {
    margin-left: 450px;
}

.hostedonrpi {
    margin-left: 525px;
    margin-top: 220px;
}

.hostedon {
    position: absolute;

}
.rpi {
    position: absolute;
    margin-top: -5px;
    margin-left: 165px;
    height: 100px;
}