@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

a {
    color: rgb(77, 255, 77);
}

body {
    background-color: rgb(27, 37, 18);
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.introduction {
    position: absolute;
    margin-top: 12.5%;
    margin-left: 15%;
}

.lilguy {
    position: absolute;
    margin-top: 2.5%;
    height: 50%;
    margin-left: 55%
}

#drawingbymoss {
    position: absolute;
    margin-top: 27.5%;
    margin-left: 64%;
}

.dot {
    position: absolute;
    margin-top: -3.6%;
    color: rgb(0, 255, 0);
    font-size: 50px;
}

.addmy88x31s {
    margin-left: 595px;
    font-size: 30px;
}

.coolmusics {
    margin-left: 580px;
    font-size: 30px;
    display: block;
}
.projects {
    margin-left: 635px;
    font-size: 30px;
    display: block;
}

.visitors {
    text-align: center;
    margin-top: 197px;
    width: 100%;
}

#ver {
    position: absolute;
    text-align: end;
    font-size: 15px;
    bottom: 0;
    right: 15px;
}

.eighty8x31s {
    margin-top: 35%;
}